.activeClass {
    color: #3f51b5 !important;
    border-color: rgba(0, 0, 0, .15) !important;
    background: rgba(0, 0, 0, .05);
}

body {
    padding-top: 22px !important;
}
.dollarClass{
    font-size: 2em;
}
.editModalListItem {
    padding: 6px !important;
    height: 86px !important;
    border-radius: 3px !important;
}
.recentTransactionHeading{
    display: inline-block;
}

.alert{
    margin: 2px;
}
.addButton{
    padding-right: 0 !important;
    border-top: none !important;
}

.editButton{
    padding-top: 0 !important;
    border-top: none !important;
}

.modal-header{
    background-color: aliceblue;
}

.incomeExpenseNav{
    position: unset !important;
    padding-top: 3%;
}

.expense{
    color: #db2828 !important;
}

.income{
    color: #21ba45 !important;
}
#reportrange{
    margin-top: 2px;
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 17em;
}
.removeBorder{
    border-bottom: none !important;
}
.infoItem:hover{
    background-color: lightgrey !important;
}

svg{
    margin-left: -15%;
}

.carousel-control-prev-icon{
    background-image: url("https://image.flaticon.com/icons/svg/126/126492.svg") !important;
}
.carousel-control-next-icon{
    background-image: url("https://image.flaticon.com/icons/svg/118/118740.svg") !important;
}
#pieChart4 svg text{
    transform: translate(0px,15px);
}
#pieChart4 svg g text{
    transform: translate(0px,0px);
}
#emptyExpenseDiv, #emptyIncomeDiv{
    background-color: white;
    min-height: 28em;
    border-radius: 6px;
    border: 1px solid rgba(34, 36, 38, .15);
    display: flex;
    align-items: center;
    justify-content: center;
}
#fullExpenseDiv, #fullIncomeDiv{
    background-color: white;
    min-height: 28em;
    border-radius: 6px;
    border: 1px solid rgba(34, 36, 38, .15);
}

.yearDiv{
    background-color: white;
    min-height: 28em;
    border-radius: 6px;
    border: 1px solid rgba(34, 36, 38, .15);
}

.monthDiv{
    background-color: white;
    min-height: 28em;
    border-radius: 6px;
    border: 1px solid rgba(34, 36, 38, .15);
}
@media (min-width: 768px) {
    .col-md-11 {
        max-width: 90% !important;
    }
    .col-md-1 {
        max-width: 10% !important;
    }
}